@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-secondary: #10B981;
  --color-dark: #1F2937;
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: #0f172a;
  color: #f8fafc;
  font-family: 'Inter', sans-serif;
}
